In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://www.espncricinfo.com/series/icc-cricket-world-cup-2023-24-1367856/match-schedule-fixtures-and-results"
req = requests.get(url).text

In [3]:
sp_data = BeautifulSoup(req,'lxml')

In [4]:
sp_data.find('div',class_="ds-grow ds-px-4 ds-border-r ds-border-line-default-translucent").find('a').get('href')

'/series/icc-cricket-world-cup-2023-24-1367856/england-vs-new-zealand-1st-match-1384392/full-scorecard'

In [5]:
divs = sp_data.find_all('div',class_="ds-grow ds-px-4 ds-border-r ds-border-line-default-translucent")

In [6]:
links = []
for i in divs:
    link = i.find('a').get('href')
    links.append("https://www.espncricinfo.com/"+link)

In [7]:
for i in links:
    print(i)

https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-new-zealand-1st-match-1384392/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/netherlands-vs-pakistan-2nd-match-1384393/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-bangladesh-3rd-match-1384394/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/south-africa-vs-sri-lanka-4th-match-1384395/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-australia-5th-match-1384396/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/netherlands-vs-new-zealand-6th-match-1384397/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-england-7th-match-1384398/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/pakistan-vs-sri-lanka-8th-match-1384399/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-afghanistan-9th-match-1384400/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-south-africa-10th-match-1384401/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-new-zealand-11th-match-1384402/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-pakistan-12th-match-1384403/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-england-13th-match-1384404/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-sri-lanka-14th-match-1384405/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/netherlands-vs-south-africa-15th-match-1384406/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-new-zealand-16th-match-1384407/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-bangladesh-17th-match-1384408/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-pakistan-18th-match-1384409/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/netherlands-vs-sri-lanka-19th-match-1384410/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-south-africa-20th-match-1384411/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-new-zealand-21st-match-1384412/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-pakistan-22nd-match-1384413/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-south-africa-23rd-match-1384414/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-netherlands-24th-match-1384415/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-sri-lanka-25th-match-1384416/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/pakistan-vs-south-africa-26th-match-1384417/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-new-zealand-27th-match-1384418/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-netherlands-28th-match-1384419/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-england-29th-match-1384420/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-sri-lanka-30th-match-1384421/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-pakistan-31st-match-1384422/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/new-zealand-vs-south-africa-32nd-match-1384423/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-sri-lanka-33rd-match-1384424/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-netherlands-34th-match-1384425/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/new-zealand-vs-pakistan-35th-match-1384426/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-england-36th-match-1384427/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-south-africa-37th-match-1384428/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-sri-lanka-38th-match-1384429/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-australia-39th-match-1384430/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-netherlands-40th-match-1384431/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/new-zealand-vs-sri-lanka-41st-match-1384432/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-south-africa-42nd-match-1384433/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-bangladesh-43rd-match-1384434/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-pakistan-44th-match-1384435/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-netherlands-45th-match-1384436/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-new-zealand-1st-semi-final-1384437/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-south-africa-2nd-semi-final-1384438/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-australia-final-1384439/full-scorecard

In [8]:
batsmen = []
bowler = []

def extract_data(links):
    for i in links:
        req = requests.get(i).text
        souped = BeautifulSoup(req,'lxml')
        
        tables = souped.find_all('table')
        t = souped.find_all('span',class_="ds-text-title-xs ds-font-bold ds-capitalize")
        
        for i in tables[0]:
            tr = i.find_all("tr")
    
            for j in tr:
                td = j.find_all("td")
        
                singlebatsmen = [j.text for j in td]
                singlebatsmen.append(t[0].text)
                singlebatsmen.append(t[1].text)
                batsmen.append(singlebatsmen)
        
        for i in tables[2]:
            tr = i.find_all("tr")
    
            for j in tr:
                td = j.find_all("td")
        
                singlebatsmen = [j.text for j in td]
                singlebatsmen.append(t[1].text)
                singlebatsmen.append(t[0].text)
                batsmen.append(singlebatsmen)
        

        for i in tables[1]:
            tr = i.find_all("tr")
    
            for j in tr:
                td = j.find_all("td")
        
                singlebowler = [j.text for j in td]
                singlebowler.append(t[1].text)
                singlebowler.append(t[0].text)
                bowler.append(singlebowler)
            
        for i in tables[3]:
            tr = i.find_all("tr")
    
            for j in tr:
                td = j.find_all("td")
        
                singlebowler = [j.text for j in td]
                singlebowler.append(t[0].text)
                singlebowler.append(t[1].text)
                bowler.append(singlebowler)

In [9]:
extract_data(links)

In [10]:
print(len(batsmen))
print(len(bowler))

2033
1039

In [11]:
batsmens = []
bowlers = []

for i in batsmen:
    if(len(i)==10):
        batsmens.append(i)
    else:
        pass

bowlers = []

for i in bowler:
    if(len(i)==13):
        bowlers.append(i)
    else:
        pass

In [12]:
print(len(batsmens))
print(len(bowlers))

876
574

In [13]:
bat = pd.DataFrame(batsmens)
bowl = pd.DataFrame(bowlers)

bhead = ['Batsmen','Out-by','R','B','M','4s','6s','SR','Team','Against']
bohead = ['Bowler','O','M','R','W','Eco','0s','4s','6s','WD','NB','Team','Against']

In [14]:
bat.columns = bhead
bowl.columns = bohead

In [15]:
bat

,Batsmen,Out-by,R,B,M,4s,6s,SR,Team,Against
0,Jonny Bairstow,c Mitchell b Santner,33,35,57,4,1,94.28,England,New Zealand
1,Dawid Malan,c †Latham b Henry,14,24,36,2,0,58.33,England,New Zealand
2,Joe Root,b Phillips,77,86,140,4,1,89.53,England,New Zealand
3,Harry Brook,c Conway b Ravindra,25,16,20,4,1,156.25,England,New Zealand
4,Moeen Ali,b Phillips,11,17,20,1,0,64.70,England,New Zealand
...,...,...,...,...,...,...,...,...,...,...
871,Travis Head,c Shubman Gill b Mohammed Siraj,137,120,166,15,4,114.16,Australia,India
872,Mitchell Marsh,c †Rahul b Bumrah,15,15,15,1,1,100.00,Australia,India
873,Steven Smith,lbw b Bumrah,4,9,11,1,0,44.44,Australia,India
874,Marnus Labuschagne,not out,58,110,133,4,0,52.72,Australia,India
875,Glenn Maxwell,not out,2,1,1,0,0,200.00,Australia,India

In [16]:
bowl

,Bowler,O,M,R,W,Eco,0s,4s,6s,WD,NB,Team,Against
0,Trent Boult,10,1,48,1,4.80,34,3,2,1,0,New Zealand,England
1,Matt Henry,10,1,48,3,4.80,31,6,0,0,0,New Zealand,England
2,Mitchell Santner,10,0,37,2,3.70,26,0,0,1,0,New Zealand,England
3,James Neesham,7,0,56,0,8.00,15,5,2,2,0,New Zealand,England
4,Rachin Ravindra,10,0,76,1,7.60,14,6,2,0,0,New Zealand,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Jasprit Bumrah,9,2,43,2,4.77,37,8,0,0,0,India,Australia
570,Mohammed Shami,7,1,47,1,6.71,28,6,1,3,0,India,Australia
571,Ravindra Jadeja,10,0,43,0,4.30,29,1,1,1,0,India,Australia
572,Kuldeep Yadav,10,0,56,0,5.60,25,3,2,0,0,India,Australia
573,Mohammed Siraj,7,0,45,1,6.42,16,4,1,0,0,India,Australia

In [17]:
bat.to_excel('batsmens2222222.xlsx')
bowl.to_excel("bowlers222222.xlsx")