In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://www.espncricinfo.com/series/icc-cricket-world-cup-2023-24-1367856/england-vs-new-zealand-1st-match-1384392/full-scorecard"
req = requests.get(url).text
souped = BeautifulSoup(req,'lxml')

In [3]:
tables = souped.find_all('table')

for i in tables:
    print("\n\n")
    print(i.text)

BATTING RBM4s6sSRJonny Bairstow c Mitchell b Santner3335574194.28Dawid Malan c †Latham b Henry1424362058.33Joe Root  b Phillips77861404189.53Harry Brook c Conway b Ravindra25162041156.25Moeen Ali  b Phillips1117201064.70Jos Buttler (c)†c †Latham b Henry43424822102.38Liam Livingstone c Henry b Boult2022233090.90Sam Curran c †Latham b Henry1419300073.68Chris Woakes c Young b Santner1112151091.66Adil Rashid not out 15132301115.38Mark Wood not out 1314190092.85Extras(w 6)6TOTAL50 Ov (RR: 5.64)282/9Fall of wickets: 1-40 (Dawid Malan, 7.4 ov), 2-64 (Jonny Bairstow, 12.5 ov), 3-94 (Harry Brook, 16.6 ov), 4-118 (Moeen Ali, 21.2 ov), 5-188 (Jos Buttler, 33.2 ov), 6-221 (Liam Livingstone, 38.5 ov), 7-229 (Joe Root, 41.1 ov), 8-250 (Chris Woakes, 44.6 ov), 9-252 (Sam Curran, 45.4 ov) • DRS



BOWLINGOMRWECON0s4s6sWDNBTrent Boult1014814.8034321038.5 to LS Livingstone, chipped straight to long-on! Soft dismissal from Livingstone, but full credit to Boult, those dots were on his mind, and finally he gets one angled into his pads from round the wicket again, and looks for the launch. But it's another knuckleball, Livingstone can't get enough power through the clip and 4long-on is poised to pounce!. 221/6See all photosMatt Henry1014834.803160007.4 to DJ Malan, edged and gone this time! Malan has a flash outside off, Henry had troubled him in the channel all innings long, but his feet didn't stride with the same purpose on that stroke, and an over-balanced reaching drive gives Latham a comfortable catch. 40/133.2 to JC Buttler, Henry returns and takes out Buttler! Nicked off to Latham. Back of a length, threatens to angle in at off but leaves Buttler outside off with extra bounce and snags the outside edge. Latham does the rest behind the stumps. Henry continues to step up in the absence of Ferguson and Southee. Replays indicate it was the wobble-seam variation from Henry. 188/545.4 to SM Curran, Short, swishes outside off, and a thin snick to the keeper! England's innings is falling in a heap now! Curran lined up the cut, but the angle from round the wicket was following him all the way. Steepling bounce from Henry as standard, and Latham swallows the edge. 252/9See all photosMitchell Santner1003723.7026001012.5 to JM Bairstow, checked drive to wide long-off! A wicket out of the blue, and a rare systems failure for Bairstow's off-side play! Opened his stance, looked for the loft over extra cover, but skewed his shot too straight, and Mitchell was lurking inside the rope to gobble the offering. 64/244.6 to CR Woakes, Lots of air, takes all the pace off, Woakes is drawn into the wide-eyed hack, and point swallows a steepling leading edge!. 250/8See all photosJames Neesham705608.00155220Rachin Ravindra1007617.6014620016.6 to HC Brook, Ravindra strikes back. One of his best mates and Wellington team-mate Conway snags the catch in the deep this time. Stokes throws his head back in despair in the dressing room. This is shortish once again, fairly closer to off, but this sort of sticks in the surface and messes with Brook's pull. He splices it in the air, Conway runs around from deep square leg and pouches it. All-action first over from Ravindra. 94/3See all photosGlenn Phillips301725.665100021.2 to MM Ali, Moeen was sent to tackle Ravindra and Santner. Latham gives him GP who strikes with his second ball. GP wheels away in celebration. Pushed through flat and quick, skids on and pings off stump. Moeen swipes and misses. NZ's spinners are doing the job for their side. 118/441.1 to JE Root, reverse-sweep and bowled him! Huge scalp! Phillips the golden-arm! That is a critical blow, too full for the stroke, the ball just sneaks under his bat, through his legs, and into his leg stump... a fine innings, but he's left the door open to the tail, and bang goes 300 par!. 229/7See all photos



BATTING RBM4s6sSRDevon Conway not out 152121147193125.61Will Young c †Buttler b Curran015000.00Rachin Ravindra not out 12396141115128.12Extras(b 4, lb 1, w 3)8TOTAL36.2 Ov (RR: 7.78)283/1Did not bat: Daryl Mitchell, Tom Latham (c)†, Glenn Phillips, Mark Chapman, James Neesham, Mitchell Santner, Matt Henry, Trent Boult Fall of wickets: 1-10 (Will Young, 1.1 ov) • DRS



BOWLINGOMRWECON0s4s6sWDNBChris Woakes604507.50187100Sam Curran624717.831761201.1 to WA Young, ...and Sam Curran strikes with his very first ball. He has strangled Young down the leg side. Buttler throws himself to his left and completes a smart catch. Nice and full, nipping down the leg side, Young doesn't get enough bat on ball. Caught down the leg side for a golden duck. 10/1Mark Wood5055011.0097210Moeen Ali9.206006.42202300Adil Rashid704706.71154100Liam Livingstone302408.0074000



Narendra Modi Stadium, AhmedabadTossNew Zealand, elected to field firstSeriesICC Cricket World CupSeason2023/24Player Of The MatchRachin RavindraMatch numberODI no. 4658Hours of play (local time)14.00 start, First Session 14.00-17.30, Interval 17.30-18.00, Second Session 18.00-21.30Match days5 October 2023 - daynight (50-over match)UmpiresKumar DharmasenaDRSNitin MenonDRSTV UmpirePaul WilsonReserve UmpireSharfuddoulaMatch RefereeJavagal SrinathPointsNew Zealand 2, England 0



PLAYER NAMERBDP Conwaynot out152121WA Youngcaught01R Ravindranot out12396Extras(b 4, lb 1, w 3)Total283(1 wkt; 36.2 ovs)



PLAYER NAMEOMRWEconCR Woakes604507.5 SM Curran624717.83 MA Wood5055011 MM Ali9.206006.42 AU Rashid704706.71 LS Livingstone302408



WKTRUNSPLAYERS1st10Devon ConwayWill Young2nd273Devon ConwayRachin Ravindra



TEAMMWLPTNRRIND990182.570SA972141.261AUS972140.841NZ954100.743PAK9458-0.199AFG9458-0.336ENG9366-0.572BAN9274-1.087SL9274-1.419NED9274-1.825

**batters**

In [75]:
batsmen= []

for i in tables[0]:
    tr = i.find_all("tr")
    
    for j in tr:
        td = j.find_all("td")
        
        singlebatsmen = [j.text for j in td]
        singlebatsmen.append(t[0].text)
        singlebatsmen.append(t[1].text)
        batsmen.append(singlebatsmen)

In [76]:
for i in tables[2]:
    tr = i.find_all("tr")
    
    for j in tr:
        td = j.find_all("td")
        
        singlebatsmen = [j.text for j in td]
        singlebatsmen.append(t[1].text)
        singlebatsmen.append(t[0].text)
        batsmen.append(singlebatsmen)

In [77]:
batsmens = []

for i in batsmen:
    if(len(i)==10):
        batsmens.append(i)
    else:
        pass

In [66]:
batsmens

[['Jonny Bairstow\xa0',
  'c Mitchell b Santner',
  '33',
  '35',
  '57',
  '4',
  '1',
  '94.28',
  'England',
  'New Zealand'],
 ['Dawid Malan\xa0',
  'c †Latham b Henry',
  '14',
  '24',
  '36',
  '2',
  '0',
  '58.33',
  'England',
  'New Zealand'],
 ['Joe Root\xa0',
  ' b Phillips',
  '77',
  '86',
  '140',
  '4',
  '1',
  '89.53',
  'England',
  'New Zealand'],
 ['Harry Brook\xa0',
  'c Conway b Ravindra',
  '25',
  '16',
  '20',
  '4',
  '1',
  '156.25',
  'England',
  'New Zealand'],
 ['Moeen Ali\xa0',
  ' b Phillips',
  '11',
  '17',
  '20',
  '1',
  '0',
  '64.70',
  'England',
  'New Zealand'],
 ['Jos Buttler\xa0(c)†',
  'c †Latham b Henry',
  '43',
  '42',
  '48',
  '2',
  '2',
  '102.38',
  'England',
  'New Zealand'],
 ['Liam Livingstone\xa0',
  'c Henry b Boult',
  '20',
  '22',
  '23',
  '3',
  '0',
  '90.90',
  'England',
  'New Zealand'],
 ['Sam Curran\xa0',
  'c †Latham b Henry',
  '14',
  '19',
  '30',
  '0',
  '0',
  '73.68',
  'England',
  'New Zealand'],
 ['Chris Woakes\xa0',
  'c Young b Santner',
  '11',
  '12',
  '15',
  '1',
  '0',
  '91.66',
  'England',
  'New Zealand'],
 ['Adil Rashid\xa0',
  'not out ',
  '15',
  '13',
  '23',
  '0',
  '1',
  '115.38',
  'England',
  'New Zealand'],
 ['Mark Wood\xa0',
  'not out ',
  '13',
  '14',
  '19',
  '0',
  '0',
  '92.85',
  'England',
  'New Zealand'],
 ['Devon Conway\xa0',
  'not out ',
  '152',
  '121',
  '147',
  '19',
  '3',
  '125.61',
  'England',
  'New Zealand'],
 ['Will Young\xa0',
  'c †Buttler b Curran',
  '0',
  '1',
  '5',
  '0',
  '0',
  '0.00',
  'England',
  'New Zealand'],
 ['Rachin Ravindra\xa0',
  'not out ',
  '123',
  '96',
  '141',
  '11',
  '5',
  '128.12',
  'England',
  'New Zealand']]

**Bowlers**

In [69]:
bowler= []

for i in tables[1]:
    tr = i.find_all("tr")
    
    for j in tr:
        td = j.find_all("td")
        
        singlebowler = [j.text for j in td]
        singlebowler.append(t[1].text)
        singlebowler.append(t[0].text)
        bowler.append(singlebowler)

In [70]:
for i in tables[3]:
    tr = i.find_all("tr")
    
    for j in tr:
        td = j.find_all("td")
        
        singlebowler = [j.text for j in td]
        singlebowler.append(t[0].text)
        singlebowler.append(t[1].text)
        bowler.append(singlebowler)

In [71]:
bowlers = []

for i in bowler:
    if(len(i)==13):
        bowlers.append(i)
    else:
        pass

In [72]:
len(bowlers)

12

In [26]:
t = souped.find_all('span',class_="ds-text-title-xs ds-font-bold ds-capitalize")

In [51]:
import pandas as pd

In [73]:
df = pd.DataFrame(bowlers)

In [74]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Trent Boult,10,1,48,1,4.80,34,3,2,1,0,New Zealand,England
1,Matt Henry,10,1,48,3,4.80,31,6,0,0,0,New Zealand,England
2,Mitchell Santner,10,0,37,2,3.70,26,0,0,1,0,New Zealand,England
3,James Neesham,7,0,56,0,8.00,15,5,2,2,0,New Zealand,England
4,Rachin Ravindra,10,0,76,1,7.60,14,6,2,0,0,New Zealand,England
5,Glenn Phillips,3,0,17,2,5.66,5,1,0,0,0,New Zealand,England
6,Chris Woakes,6,0,45,0,7.50,18,7,1,0,0,England,New Zealand
7,Sam Curran,6,2,47,1,7.83,17,6,1,2,0,England,New Zealand
8,Mark Wood,5,0,55,0,11.00,9,7,2,1,0,England,New Zealand
9,Moeen Ali,9.2,0,60,0,6.42,20,2,3,0,0,England,New Zealand
10,Adil Rashid,7,0,47,0,6.71,15,4,1,0,0,England,New Zealand
11,Liam Livingstone,3,0,24,0,8.00,7,4,0,0,0,England,New Zealand

In [78]:
df2 = pd.DataFrame(batsmens)

In [79]:
df2

,0,1,2,3,4,5,6,7,8,9
0,Jonny Bairstow,c Mitchell b Santner,33,35,57,4,1,94.28,England,New Zealand
1,Dawid Malan,c †Latham b Henry,14,24,36,2,0,58.33,England,New Zealand
2,Joe Root,b Phillips,77,86,140,4,1,89.53,England,New Zealand
3,Harry Brook,c Conway b Ravindra,25,16,20,4,1,156.25,England,New Zealand
4,Moeen Ali,b Phillips,11,17,20,1,0,64.70,England,New Zealand
5,Jos Buttler (c)†,c †Latham b Henry,43,42,48,2,2,102.38,England,New Zealand
6,Liam Livingstone,c Henry b Boult,20,22,23,3,0,90.90,England,New Zealand
7,Sam Curran,c †Latham b Henry,14,19,30,0,0,73.68,England,New Zealand
8,Chris Woakes,c Young b Santner,11,12,15,1,0,91.66,England,New Zealand
9,Adil Rashid,not out,15,13,23,0,1,115.38,England,New Zealand
10,Mark Wood,not out,13,14,19,0,0,92.85,England,New Zealand
11,Devon Conway,not out,152,121,147,19,3,125.61,New Zealand,England
12,Will Young,c †Buttler b Curran,0,1,5,0,0,0.00,New Zealand,England
13,Rachin Ravindra,not out,123,96,141,11,5,128.12,New Zealand,England